.App {
  min-height: 100vh;
  
  &__container {
    background-color: rgba(0, 0, 0, 0.45);
    max-width: 70%;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}