.Footer {
  margin: 3rem auto;
  width: max-content;
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
}

.Footer p {
  display: flex;
  align-items: center;
}

.Footer img {
  height: 22px;
  width: 22px;
}

.Footer a {
  color: #e7b12e;
}
