.Search {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.Search__label,
.Search__button,
.Search__input {
  border: none;
  outline: none;
  font-size: 0.9rem;
  background-color: transparent;
  color: #fff;
  font-weight: 500;
}

.Search__label {
  border: 1px solid #f2f2f2;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 75%;
  position: relative;
}

.Search__input {
  width: 100%;
  padding: 0.75rem 0rem 0.75rem 1.75rem;
  font-weight: 700;
}

.Search__input::placeholder {
  color: #f2f2f2;
  opacity: 0.85;
}

.Search__button {
  padding: 0.75rem;
  font-weight: 700;
  background-color: #e7b12e;
  border: 1px solid #e7b12e;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 25%;
  cursor: pointer;
}
