@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  font-family: Be Vietnam Pro, sans-serif;
  color: #f2f2f2;
  background-image: url(assets/images/dark-background.jpg);
}